<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Home</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.php">
        <div class="d-flex justify-content-start">
            <img src="assets/img/logo.png" alt="Logo" width="15%">
            <h5 class="mb-0 mt-2 ms-3">Digital Library</h5>
        </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.php">Home</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link" href="author.php">Author</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link" href="category.php">Category</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link" href="book.php">Book</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link" href="member.php">Member</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="container">
        <h3 class="mb-5 mt-5 fw-bold">Daftar Peminjaman</h3>
        <div class="card shadow rounded p-4 mb-5">
            <form method="POST" action="DATA_LINK" class="mb-3">
                <div class="row">
                    <div class="col-6 form-group mb-3">
                        <label for="member_id" class="col-form-label">Member</label>
                        <select class="form-select" name="member_id" required>
                            <option selected>Pilih Member</option>
                            MEMBER_OPTIONS
                        </select>
                    </div>
                    <div class="col-6 form-group mb-3">
                        <label for="book_id" class="col-form-label">Buku</label>
                        <select class="form-select" name="book_id" required>
                            <option selected>Pilih Buku</option>
                            BOOK_OPTIONS
                        </select>
                    </div>
                    <div class="col-4 form-group mb-3">
                        <label for="borrowing_date" class="col-form-label">Tanggal Peminjaman</label>
                        <input type="text" class="form-control datepicker" style="padding-left: 15px; padding-top: 7px; padding-bottom: 7px;" name="borrowing_date" value="DATA_BORROWING_DATE">
                    </div>
                    <div class="col-4 form-group mb-3">
                        <label for="due_date" class="col-form-label">Tanggal Deadline</label>
                        <input type="text" class="form-control datepicker" style="padding-left: 15px; padding-top: 7px; padding-bottom: 7px;" name="due_date" value="DATA_DUE_DATE">
                    </div>
                    <div class="col-4 form-group mb-3">
                        <label for="return_date" class="col-form-label">Tanggal Pengembalian</label>
                        <input type="text" class="form-control datepicker" style="padding-left: 15px; padding-top: 7px; padding-bottom: 7px;" name="return_date" value="DATA_RETURN_DATE">
                    </div>
                </div>
                <div class="text-end">
                    DATA_BUTTON
                </div>
            </form>
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th width="80">No</th>
                        <th>Member</th>
                        <th>Buku</th>
                        <th width="200">Tanggal Peminjaman</th>
                        <th width="200">Tanggal Deadline</th>
                        <th width="200">Tanggal Pengembalian</th>
                        <th width="200">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    DATA_TABEL
                </tbody>
            </table>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="assets/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" />

    <script>
        $(".datepicker").datepicker({
            format: 'yyyy-mm-dd'
        });
    </script>

    <script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Apakah Anda yakin untuk menghapus data ini?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>

</body>
</html>